<!-- Footer -->
<footer class="bg-light-gray">
    <div class="container">
        <div class="row">

            <div class="col-md-6 footer-box">
                <div class="col-xs-12 logo-footer-left">
                    <img src="/assets/img/avatar/logo-black.png" height="35px">
                </div>

                <div class="col-xs-12">
                    <span class="copyright">&copy; Hatzakis Lab {{ site.time | date: '%Y' }}</span>
                    <br>
                    <a href="https://twitter.com/NHatzakis?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                       data-size="large"
                       data-show-count="false">Follow @NHatzakis</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

            <div class="col-md-6 footer-box">
                <div class="col-xs-12 logo-footer-right">
                    <img src="/assets/img/avatar/ucph-black.png" height="35px">
                </div>

                <div class="col-xs-12">
                    <a href="https://ku.dk" class="btn-link">
                        Nano-Science Center<br>
                        University of Copenhagen<br>
                        Thorvaldsensvej 40<br>
                        1871 Frederiksberg C<br>
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>
