<!-- Services Section -->
<section id="intro" class="bg-light-gray">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Intro</h2>
        </div>
        <div class="col-md-14 text-left">
            <p>
                Our groups main research interest is to obtain a fundamental understanding of the parameters underlying
                regulation of enzymatic function. Enzymes regulate a plethora of vital cellular processes and aberration
                in their function can result in countless disease states. They are also essential components in multiple
                industrial applications including drug synthesis and detergent development. Harnessing the biomolecular
                insights of current single molecule experiments allows us to unmask the structural and functional
                dynamics of major drug metabolism enzymes. Understanding how these enzymes operate paves the way for the
                design of novel pharmaceutics.
            </p>
        </div>
    </div>
</section>