<!-- Header -->
<header>
    <div class="placeholder" data-large="/assets/img/header-bg.png" id="header">
        <img src="/assets/img/header-bg.min.png" class="img-lazy">
    </div>

    <section id="intro" class="bg-white">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Intro</h2>
            </div>
            <div class="col-md-14 text-justify hidden-box">
                <p>
                    The main objective of our lab is to augment our understanding on the inner workings of enzymes
                    and
                    decode how conformational dynamics encode enzymes’ capacity to accelerate chemical
                    transformations
                    while
                    maintaining the functional plasticity of accepting structurally diverse substrates. Harnessing
                    this
                    knowledge is the founding step to tackle the daunting tasks of a) design novel drugs <i>in
                    silico</i>
                    and b) the design of novel biocatalysts with tailor made functionalities.
                    <br><br>
                    We approach this formidable challenge by an eclectic mix of techniques — borrowed from whichever
                    area of
                    experimental science that promises to shed light on the behaviour of enzymes. We emphasize on
                    single
                    molecule studies (functional, FRET, particle tracking) that offer the potential to directly
                    observe
                    the
                    existence, quantify the abundance and dependence on mutations, of behaviors that were masked in
                    conventional assays due to averaging a large number of unsynchronized molecules.
                </p>
                <p class="read-more">
                    <a style="text-decoration: none" href="#" class="button">Read More</a></p>
            </div>
        </div>
    </section>
</header>

<script src="/assets/js/textReveal.js"></script>