<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll disabled" href="#page-top">
                Hatzakis Lab
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#projects">Projects</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Members</a>
                </li>
                <li>
                    <a class="page-scroll" href="#funding">Funding</a>
                </li>
                <li>
                    <a class="page-scroll" href="#publications">Publications</a>
                </li>
                <li>
                    <a class="page-scroll" href="#software">Software</a>
                </li>
                <li>
                    <a class="page-scroll" href="#gallery">Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- For hamburger menu closing after selection-->
<script src="/assets/js/closeHamburgerOnClick.js" type="text/javascript"></script>