<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> 🧬🔬🤔 <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll disabled" href="/">
                Hatzakis Lab
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#intro">Intro</a>
                </li>
                <li>
                    <a class="page-scroll" href="#projects">Projects</a>
                </li>
                <li>
                    <a class="page-scroll" href="#news">News</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Members</a>
                </li>
                <li>
                    <a class="page-scroll" href="#funding">Funding</a>
                </li>
                <li>
                    <a class="page-scroll" href="#publications">Publications</a>
                </li>
                <li>
                    <a href="https://nano.ku.dk/english/research/nanoenzymes/">Nano-Science Center Webpage</a>
                </li>
                <li>
                    <a class="page-scroll" href="#software">Software</a>
                </li>
                <li>
                    <a class="page-scroll" href="#gallery">Gallery</a>
                </li>
                <li>
                    <hr style="height:10px; visibility:hidden;" />
                    <a href="https://twitter.com/NHatzakis?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                        data-size="large"
                        data-show-count="false">Follow @NHatzakis</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="/assets/js/hideNavOnScrollUp.js" type="text/javascript"></script>
<script src="/assets/js/closeHamburgerOnClick.js" type="text/javascript"></script>