<!-- Project Grid Generator-->
<script src="/assets/js/jqBootstrapValidation.js"></script>

<section id="projects" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projects</h2>
                <br>
            </div>
        </div>
        <div class="row">
            {% for project in site.data.projects %}
            <div class="col-md-4 project-item">
                <a href="#{{ project.id }}" class="project-link" data-toggle="modal">
                    <div class="modal-header">{{ project.name }}</div>
                    <div class="project-hover">
                        <div class="project-hover-content">
                        </div>
                    </div>
                    <img src="/assets/img/projects/{{ project.photo }}.png" class="img-responsive"
                         alt="{{ project.img-alt }}" style="background-color: {{ project.color }}">
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
