<!-- Services Section -->
<section id="publications" class="bg-light-gray">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Select Publications</h2>
            <br>
        </div>
        <div class="row">
            {% for publication in site.data.publications %}
            <div class="col-xs-12 col-md-4">
                <p>
                    <a href="http://{{ publication.doi }}">{{publication.title}}.</a><br>
                    {{publication.author}}<em> {{publication.journal}}</em> {{publication.pages}} ({{publication.year}})
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>