<!-- Team Section -->
<section id="software" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Software</h2>
            </div>
        </div>
        <div class="row">
            {% for software in site.data.software %}
            <div class="col-sm-4">
                <div class="team-member">
                    <a href="https://github.com/hatzakislab/{{ software.link }}">
                        <!-- TODO: Find some better images for this-->
                        <img src="/assets/img/software/{{ software.img }}"
                             class="img-circle"
                             alt="{{ software.name }}">
                    </a>
                    <h4>{{ software.name }}</h4>
                    <p class="text-muted">{{ software.desc }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
