@import variables
@import mixins

$text-hover: #0a0a14
$color-semiblack: #5b5b5b
$color-lightgrey: lightgrey
$color-fontblack: #333333
$default-font-size: 17px
$header-bg: black

// The grey rows
.bg-light-gray
  background-color: #FAFAFA

section
  padding-top: 70px
  padding-bottom: 70px

header
  background-color: $header-bg
  background-size: cover
  background-repeat: no-repeat
  position: relative
  overflow: hidden

  .placeholder img
    position: absolute
    opacity: 0
    top: -50%
    /* to move it a bit up */
    width: 100%
    transition: opacity 1s linear

  @media (max-width: 768px)
    .placeholder img
      position: absolute
      top: 0
      /* to move it a bit up */
      width: 100%

  .placeholder img.loaded
    opacity: 1

  .img-small
    filter: blur(50px)
    transform: scale(1)
/* this is needed so Safari keeps sharp edges */

/* --- Background ---
.container
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto

.col-lg-9 > *
  text-align: left

/* --- NavBar ---
#mainNav
  @media (min-width: 768px)
    .navbar-collapse
      float: right

.navbar-default
  border-color: rgba(34, 34, 34, 0.05)
  -webkit-transition: all 0.35s
  -moz-transition: all 0.35s
  transition: all 0.35s
  background-color: white

  .navbar-header
    .navbar-brand
      color: $color-semiblack

      &:hover, &:focus
        color: $text-hover

  .navbar-toggle
    font-size: 14px
    color: $color-semiblack
    padding: 8px 10px

  .nav > li > a
    color: $color-semiblack
    background-color: transparent

    &:focus
      color: $color-semiblack
      background-color: transparent

    &:hover
      color: $text-hover
      background-color: transparent

  .nav > li.active > a
    color: $text-hover
    background-color: transparent

.navbar-default .nav > li.active > a
  &:hover, &:focus:hover
    background-color: transparent

  .navbar-default
    background-color: transparent
    border-color: transparent

    .nav > li > a
      color: $color-lightgrey

      &:hover
        color: white

      &:focus
        color: white

      &:focus:hover
        color: white

    .navbar-header
      color: $color-lightgrey

      .navbar-brand
        color: $color-lightgrey

        &:hover, &:focus, &:focus:hover
          color: white

  // section below for when not at the top
  .navbar-default.affix
    background-color: white
    border-color: rgba(34, 34, 34, 0.1)

    .navbar-header
      .navbar-brand
        color: $color-semiblack
        background-color: transparent

        &:hover, &:focus
          color: $text-hover

    .nav > li > a
      color: $color-semiblack

      &:focus
        color: $color-semiblack

      &:hover, &:focus:hover
        color: $text-hover

/* --- Intro ---
#intro
  .container
    max-width: 768px
    color: white
    opacity: 0.9

  p
    font-size: $default-font-size
    color: white
    //opacity: 0.2

  ul
    font-size: $default-font-size

  .hidden-box
    max-height: 120px
    opacity: 0.6
    position: relative
    overflow: hidden
    color: #727272

    @media screen and (min-width: 768px)
      width: 768px
      overflow: hidden

  .hidden-box .read-more
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    text-align: center
    margin: 0
    padding: 0

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: radial-gradient(rgba(108, 127, 41, 0.94) 26.05%, transparent 62.18%)
    background-size: cover

  .read-more .button
    color: white
    font-weight: bold

/* --- People ---
#team
  ul.list-inline
    position: relative
    margin: 0 auto
    padding-left: 1px
    top: 70px

    > li
      padding-right: 0
      padding-left: 0

  .col-sm-4
    height: 250px
    width: 180px

    @media screen and (max-width: 550pt)
      width: 50%
      float: left

    @media screen and (min-width: 551pt)
      width: 25%
      float: left

  .section-heading
    padding-bottom: 10px

  .team-member
    max-height: 200px
    margin: 0

    h4
      margin-top: 7px

    p
      padding-top: 1.2%
      line-height: 1.1

    img
      border: none
      width: 120px
      height: 120px
      vertical-align: top

.img-circle
  border-radius: 50%

ul.social-buttons li a
  height: 0
  width: 25px
  font-size: 18px
  line-height: 1.5px
  color: $color-fontblack
  background-color: transparent

  &:hover
    background-color: transparent
    color: $color-fontblack

.list-inline
  opacity: 0

.team-hover:hover
  .img-circle
    opacity: 0.2
    transition: 0.1s
    z-index: 0

.team-hover:hover ul.list-inline, ul.list-inline li a
  opacity: 1
  z-index: 1
  background-color: transparent

/* --- Projects
#projects
  .col-md-4.project-item
    @media (max-width: 550pt)
      width: 100%
      float: left

    @media (min-width: 551pt)
      width: 50%
      float: left

  // project title text
  .modal-header
    color: $color-fontblack
    font-weight: bold
    text-decoration: none
    position: absolute
    text-align: left
    padding-left: 5%
    background-color: transparent
    border-color: transparent
    max-font-size: 100pt

    @media (max-width: 550pt)
      font-size: 4vw

    @media (min-width: 750px)
      font-size: 13pt

  .project-item .project-link
    max-width: none

/* --- Pop-up modals ---
.modal-dialog
  p
    font-size: 18px
    line-height: 1.75
    text-align: left

a:hover, a:visited, a:link, a:active
  text-decoration: none

.btn-primary
  -webkit-filter: grayscale(1)
  -webkit-filter: grayscale(100%)
  filter: grayscale(100%)

#projects
  .project-item
    .project-link
      .project-hover
        background: rgba(210, 210, 210, 0.40)

/* --- Funding ---
#funding
  @media screen and (max-width: 768px)
    .scroll-wrapper
      max-height: 200px
      display: flex
      flex-wrap: nowrap
      overflow-x: scroll

    .scroll-wrapper-box
      flex: 0 0 auto
      padding: 15px

    .container
      padding-left: 0
      padding-right: 0

  img
    height: 115px


/* --- Publications ---
#publications
  a
    color: black

  p
    color: $color-semiblack
    font-size: $default-font-size

  .col-md-4
    padding-bottom: 20px

  @media (min-width: 992px)
    .col-md-4
      height: 200px
      width: 33.33333333%


/* --- Software ---
#software
  img
    width: 100px
    height: 100px
    vertical-align: top

  .img-circle
    border-radius: 15%
    border: 1px solid lightgray

  .text-muted
    text-align: left

  .section-heading
    padding-bottom: 10px

  .team-member h4
    text-align: left

/* --- Gallery ---
#gallery
  .container
    .row
      margin-left: 0
      margin-right: 0