#home {
    width: 100%;
    /* height: 100vh; */
    overflow: visible;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    overflow-x: hidden;
}



.movies--and--arrows {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#purple {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}



video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

}


#in--video--logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10rem;
    left: 5rem;
}

#logo--image--main>img {
    height: 13rem;
}


#logo--text--main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 13rem;
    text-align: left;

}



#logo--text--main>h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 23px;
    color: white;
    margin: 0;
    text-align: center;
    margin-left: 1rem;


}



#logo--text--main>h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 8px;
    color: white;
    margin: 0;
    margin-left: 7px;
    text-align: left;
}


#learn--more {
    width: 8%;
    position: absolute;
    /* top: 24rem;
    left: 16.5rem; */
    top:90vh;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem 1.5rem;
    border-radius: .2rem;
    border: none;
    background-color: rgb(254, 98, 98);
    cursor: pointer;
    letter-spacing: 1px;

    font-size: 18px;
    color: rgb(38, 38, 38);
}


@keyframes slideRight {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}




#logo--text--main h3 {
    animation-name: slideRight;
    animation-duration: .8s;
    /* Adjust the time as needed */
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#logo--text--main h2 {
    animation-name: slideRight;
    animation-duration: .9s;
    /* Adjust the time as needed */
    /* animation-delay: .3s; */
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#learn--more {
    animation-name: slideRight;
    animation-duration: 1s;
    /* Adjust the time as needed */
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}



#mission {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    padding: 4rem;
    margin-top: 10rem;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0,.8);
    z-index: 3;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../images/mission.png'); */
    /* background-image: url('/images/mission.png'); */
    background-size: cover;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);

}

#our--mission {
    width: 20%;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    position: relative;


}


#our--mission>h2 {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;

}



#our--mission>p {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 300;
    color: rgb(170, 170, 170);
    text-align: justify;

}


#mission--image {
    width: 60%;
    object-fit: cover;
    border-radius: .5rem;
}



#whoweare {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 4rem;
    box-sizing: border-box;
    margin-top: 5rem;
    background-color: rgb(20, 20, 22);
    z-index: 3;
    background-color: rgb(0, 0, 0,.8);
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../images/mission.png'); */
    /* background-image: url('/images/mission.png'); */
    background-size: cover;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);




}

#whoweare--text {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    width: 70%;


}

#whoweare--text >h2 {
    font-size: 2rem;
    color: white;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;

}


#whoweare--text >p {

    width: 100%;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 300;
    color: rgb(170, 170, 170);
    text-align: justify;

}


#funding{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 5rem;
    background-color: rgb(0, 0, 0,.8);
    z-index: 3;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../images/mission.png'); */
    /* background-image: url('/images/mission.png'); */
    background-size: cover;
    color: white;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    margin-bottom: 10rem;

}

.fund > p{
    font-size: 2rem;
    color: white;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.fund >img{
    width: 22rem;
    margin: 3rem;

}


@keyframes pulse {
    0% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
  


i{
    transform: scale(1.5);
    animation: pulse 2s 6;
    animation-delay: 3s;
}




































/* ---------------------------------------------------------------------------------------------- */














@media only screen and (max-width: 767px) {


    #home {
        width: 100%;
        overflow: visible;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    
        overflow-x: hidden;
    }

    #purple {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    


    #in--video--logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1rem;
   
    }

    #logo--text--main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: auto;
        text-align: left;
    
    }


    #logo--image--main>img {
        height: 8rem;
    }
    
    #logo--text--main>h3 {
        width: 20rem;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        width: 100%;
        font-weight: 300;
        letter-spacing: 7px;
        color: white;
        margin: 0;
        text-align: center;
        margin-top: 0rem;
        left: 50%;
        transform: translateX(-50%);
        top:0;
    
    
    }


    #logo--text--main>h2 {
        width: 20rem;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 1px;
        color: white;
        margin: 0;
        margin-left: 7px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }


    #learn--more {
        width: 10%;
        position: absolute;
        /* top: 24rem;
        left: 16.5rem; */
        top:80vh;
        left: 75vw;
        font-family: 'Open Sans', sans-serif;
        padding: 1rem 2rem;
        border-radius: .2rem;
        border: none;
        background-color: rgb(254, 98, 98);
        cursor: pointer;
        letter-spacing: 1px;
    
        font-size: 10px;
        color: rgb(38, 38, 38);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @keyframes pulse {
        0% {
          transform: scale(2);
        }
        50% {
          transform: scale(1.3);
        }
        100% {
          transform: scale(2);
        }
      }
      

#learn--more {
    animation-name: slideRight;
    animation-duration: 1s;
    /* Adjust the time as needed */
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}



    #mission {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 95%;
        padding: 2rem;
        margin-top: 10rem;
        box-sizing: border-box;
        background-color: rgb(0, 0, 0,.8);
        z-index: 1;
        /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../images/mission.png'); */
        /* background-image: url('/images/mission.png'); */
        background-size: cover;
        box-shadow: 3px 3px 5px rgb(0, 0, 0);
        padding-top: 2rem;
    
    }
    
    #our--mission {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #ffffff;
        position: relative;

    
    
    }
    
    
    #our--mission>h2 {
        font-size: 1.5rem;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    
    }
    
    
    
    #our--mission>p {
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 300;
        color: rgb(151, 151, 151);
        text-align: justify;
    
    }
    
    
    #mission--image {
        width: 100%;
        object-fit: cover;
        border-radius: .5rem;
        margin-top: 2rem;
    }
    
    
    
    #whoweare {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 95%;
        padding: 2rem;
        box-sizing: border-box;
        margin-top: 5rem;
        background-color: rgb(0, 0, 0,.8);
        z-index: 1;
        /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../images/mission.png'); */
        /* background-image: url('/images/mission.png'); */
        background-size: cover;
        box-shadow: 3px 3px 5px rgb(0, 0, 0);
    
    
    
    
    }
    
    #whoweare--text {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
    
    
    }
    
    #whoweare--text >h2 {
        font-size: 1.5rem;
        color: white;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
    
    }
    
    
    #whoweare--text >p {
        text-align: justify;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 300;
        color: rgb(151, 151, 151);
        width: 100%;
    
    }
    
    
    #funding{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 95%;
        padding: 1rem;
        box-sizing: border-box;
        margin-top: 5rem;
        background-color: rgb(0, 0, 0,.8);
        z-index: 1;
        /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../images/mission.png'); */
        /* background-image: url('/images/mission.png'); */
        background-size: cover;
        color: white;
        box-shadow: 3px 3px 5px rgb(0, 0, 0);
        margin-bottom: 10rem;
    
    }
    
    .fund > p{
        font-size: 1.5rem;
        color: white;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
        text-align: left;
    }

    .fund{
        display: flex;
        align-items: center;
        padding: 3rem 0rem;
    }
    
    .fund >img{
        width: 85%;
        margin: auto;

    }
    
    
    
    












}