body {
    overflow: hidden;

}

#members {
    height:auto;
    background-color: rgb(23, 22, 22);
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 1)), url('../images/members.png');
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 15rem;
}


#our--members {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 10rem;
    letter-spacing: 5px;
    color: rgb(228, 228, 228);
    font-weight: 300;
}

#our--members--text{

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
    color: rgb(168, 168, 168);
    width: 40%;
    margin: 0rem;
    margin-bottom: 3rem;
}



#members--container {
    padding: 3rem;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;


}


.member--card {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Sarabun', sans-serif;
    position: relative;
    border-radius: 1.5rem;

}


.member--name {
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: rgb(165, 165, 165);
    width: auto;
    padding: .3rem 1rem;
    font-weight: 800;
    border-radius: .5rem;
    /* background-color: #B73B37;
    background-color: #931F1D; */
    letter-spacing: 1px;
    position: absolute;
    top: 52%;
}


.member--pic {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 25%;
    /* Center vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 6px rgb(19, 19, 19);
    z-index: 2;
}

.member--media {

    width: auto;
    height: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: center;

    color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 21%;
    left: 50%;
    /* z-index: 1; */

}



.image--media--container ul:hover {
    cursor: pointer;
    z-index: 1;

}


.member--desc {
    font-size: .87rem;
    color: rgb(110, 110, 110);
    margin: 0;
    margin-top: .5rem;
    border-radius: .5rem;
    width: 15rem;
    padding: .1rem .5rem;
    /* background-color: rgba(24, 63, 117, 0.958);
    background-color: rgb(18, 53, 91,); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 58%;
    font-family: 'Poppins', sans-serif;
}


.member--media li {
    margin: .3rem;


}

.fa {
    font-size: .86rem;
    padding: .5rem;
    border-radius: 50%;
    color: rgb(62, 61, 61);
    color: rgb(44, 44, 44);
    background-color: #c8cbd0;
    transition: .3s ease-in-out;
    cursor: pointer;
}


.fa:hover {
    background-color: #202020;
    color: white;
}








/* ---------------------------------------------------------------------------------------------- */









@media only screen and (max-width: 767px) {


    #members {
        height:auto;
        background-color: rgb(23, 22, 22);
        background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 1)), url('../images/members.png');
        background-attachment: fixed;
        background-size: cover;
        padding-bottom: 15rem;
    }
    
    
    #our--members {
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 5rem;
        letter-spacing: 5px;
        color: rgb(228, 228, 228);
        font-weight: 300;
    }
    
    #our--members--text{
    
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 300;
        color: rgb(168, 168, 168);
        width: 60%;
        margin: 0rem;
        margin-bottom: 1rem;
    }
    
    
    
    #members--container {
        padding: 1rem;
        box-sizing: border-box;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-attachment: fixed;
        margin-top: 2rem;
    
    
    }
    
    
    .member--card {
        width: 15rem;
        height: 18rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Sarabun', sans-serif;
        position: relative;
        border-radius: 1.5rem;
    
    }
    
    
    .member--name {
        font-size: 1.1rem;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        color: rgb(165, 165, 165);
        width: 100%;
        padding: .3rem 1rem;
        font-weight: 350;
        border-radius: .5rem;
        /* background-color: #B73B37;
        background-color: #931F1D; */
        letter-spacing: 1px;
        position: absolute;
        top: 52%;
    }
    
    
    .member--pic {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 25%;
        /* Center vertically */
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 2px 2px 6px rgb(19, 19, 19);
        z-index: 1;
    }
    
    .member--media {
        width: auto;
        height: auto;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        align-items: center;
        justify-content: center;
    
        color: black;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 21%;
        left: 50%;
        /* z-index: 1; */
    
    }
    
    
    
    .image--media--container ul:hover {
        cursor: pointer;
        z-index: 1;
    
    }
    
    
    .member--desc {
        font-size: .87rem;
        color: rgb(110, 110, 110);
        margin: 0;
        margin-top: .8rem;
        border-radius: .5rem;
        width: 15rem;
        padding: .1rem .5rem;
        /* background-color: rgba(24, 63, 117, 0.958);
        background-color: rgb(18, 53, 91,); */
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 58%;
        font-family: 'Poppins', sans-serif;
    }
    
    
    .member--media li {
        margin: .3rem;
    
    
    }
    
    .fa {
        font-size: .86rem;
        padding: .5rem;
        border-radius: 50%;
        color: rgb(62, 61, 61);
        color: rgb(44, 44, 44);
        background-color: #c8cbd0;
        transition: .3s ease-in-out;
        cursor: pointer;
    }
    
    
    .fa:hover {
        transform: scale();
        background-color: #202020;
        color: white;
    }
    


}